# filesystem artifacts
.DS_Store

# automation artifacts
.vite/

# build artifacts
dist/
target/

# managed dependencies
node_modules/

# logs
*.log

# lockfiles
*.lock

# keys and local env
*.key
*.local

# track encrypted files
!.env.yaml

# speedtest output
/speedtest_output*
