https:// {
	tls internal {
		on_demand
	}
}

dev.guima.localhost {
	reverse_proxy :4321
}

guimabook.local:6007, ui.guima.localhost {
	reverse_proxy :6006
}

db.guima.localhost {
	request_body {
		max_size 10MB
	}
	reverse_proxy :8090 {
		transport http {
			read_timeout 360s
		}
	}
}
