dev.guima.localhost {
	reverse_proxy :4321
}

guimabook.local:4322 {
	tls internal
	reverse_proxy :4321
}

rpc.guima.localhost {
	reverse_proxy :4567
}

guimabook.local:4568 {
	tls internal
	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Methods "POST, GET, OPTIONS"
		Access-Control-Allow-Headers "Content-Type"
	}
	reverse_proxy :4567
}

ui.guima.localhost {
	reverse_proxy :6006
}

pdb.guima.localhost {
	request_body {
		max_size 10MB
	}
	reverse_proxy :8090 {
		transport http {
			read_timeout 360s
		}
	}
}
