experimental_monorepo_root = true

[monorepo]
config_roots = ["apps/*", "pkgs/*"]

[plugins]
nim = "https://github.com/asdf-community/asdf-nim.git"

[tools]
age = "latest"
caddy = "latest"
deno = "latest"
flyctl = "latest"
"http:speedtest" = { version = "1.2.0", url = "https://install.speedtest.net/app/cli/ookla-speedtest-{version}-macosx-universal.tgz" }
pitchfork = "latest"
rust = "latest"
sops = "latest"
usage = "latest"
cargo = "latest"

[hooks]
postinstall = [
  "deno x --install-alias",
  "deno i",
  "find . -path '*/.tasks/*' -type f -exec chmod +x {} +",
]

[settings.sops]
rops = false
age_key_file = "{{env.HOME}}/.config/wes/dev/dev-age-id.key"
age_recipients = "age1yubikey1q2ku8pcyj4vnjs34lfzrw6q54z96anuxj69p3dpeyz9n7aa58733s58w20p"

[env]
SOPS_AGE_KEY_FILE = "{{env.HOME}}/.config/wes/dev/dev-age-id.key"
'_'.file = { paths = [
  "{{env.HOME}}/.config/wes/dev/wes-env.yaml",
  "./.env.yaml",
], redact = true }

[tasks]
deno = "deno"
lint = "deno lint"
caddy = "caddy run --config ./Caddyfile"

[tasks.restart]
usage = '''
arg "<service>" help="Pitchfork service to restart"
'''
run = '''
pitchfork stop {{usage.service}}
pitchfork clean
pitchfork logs -c {{usage.service}}
pitchfork start {{usage.service}}
'''
