experimental_monorepo_root = true

[tools]
age = "latest"
caddy = "latest"
deno = "latest"
doppler = "latest"
flyctl = "latest"
infisical = "latest"
pitchfork = "latest"
sops = "latest"
usage = "latest"

[hooks]
postinstall = ["deno x --install-alias", "deno i"]

[settings.sops]
rops = false
age_key_file = "~/.config/wes/dev/dev-age-id.key"
age_recipients = "age1yubikey1q2ku8pcyj4vnjs34lfzrw6q54z96anuxj69p3dpeyz9n7aa58733s58w20p"

[env]
SOPS_AGE_KEY_FILE = "~/.config/wes/dev/dev-age-id.key"
'_'.file = [
  { path = "~/.config/wes/dev/wes-env.yaml" },
]

[tasks]
deno = "deno"
lint = "deno lint"
caddy = "caddy run --config ./Caddyfile"

[tasks.run]
usage = '''
arg "[task]" default="dev"
arg "[proj]" default="home"
'''
run = '''
proj="{{usage.proj}}"
folder=$(find pkgs -maxdepth 1 -type d -name "*${proj}*" | head -n 1)
folder=${folder:-$(find apps -maxdepth 1 -type d -name "*${proj}*" | head -n 1)}
folder=${folder:-apps/$proj}
mise //$folder:{{usage.task}}
'''
