---
import '../global.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="author" href="/humans.txt" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
    />
    <title>Manim!!!</title>
  </head>
  <body>
    <fieldset>
      <label for="something">Testing something:</label>
      <input id="something" type="text" placeholder="Type something here..." />
    </fieldset>

    <script>
      import { rpc, listen } from '../lib/rpc.ts'

      listen<boolean>('connected', (data) => {
        console.log('RPC connected:', data)
      })

      listen<{ message: string }>('ping', (data) => {
        console.log('RPC message:', data.message)
      })

      const somethingInput = document.getElementById('something')! as HTMLInputElement
      somethingInput.addEventListener('input', async (e) => {
        const response = await rpc.something((e.target as HTMLInputElement).value)
        console.log(`rpc.something:`, response)
      })
    </script>
  </body>
</html>
