@import "tailwindcss";

:root {
  color-scheme: light dark;
}

@theme {
  --color-primary-500: light-dark(#001200, #ccffcc);
  --color-secondary-500: light-dark(#ccffcc, #001200);
}

.light {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
}

html, body {
  font-family: Roboto, sans-serif;
  color: var(--color-primary-500);
  background-color: var(--color-secondary-500);
}
