:root {
  --color-fg: #343a40;
  --color-bg: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: #bdffbd;
    --color-bg: #001200;
  }
}

body {
  color: var(--color-fg);
  background-color: var(--color-bg);
}

html {
  font-family: Roboto, sans-serif;
}
