@import "tailwindcss";
@import "./theme.css";

:root {
  color-scheme: light dark;
}

[data-theme="light"] {
  color-scheme: light;
}
[data-theme="dark"] {
  color-scheme: dark;
}

html, body {
  font-family: Roboto, sans-serif;
  color: var(--color-foreground);
  background-color: var(--color-background);
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme="light"]) {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  html:not([data-theme="dark"]) {
    color-scheme: light;
  }
}
