@import "tailwindcss";
@import "open-props/style";
@import "./lib/functions.css";
@import "./theme.css";

:root {
  --default-font-family: 'Roboto', sans-serif;
  --default-mono-font-family: 'Roboto Mono', monospace;
  color-scheme: light dark;
}

[data-theme="light"] {
  color-scheme: light;
}
[data-theme="dark"] {
  color-scheme: dark;
}

*, ::after, ::before, ::backdrop, ::file-selector-button {
  border: none;
}

html, body {
  font-family: var(--default-font-family);
  color: var(--color-foreground);
  background-color: var(--color-background);
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme="light"]) {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  html:not([data-theme="dark"]) {
    color-scheme: light;
  }
}
