@import "tailwindcss";
@import "./theme.css";

:root {
  color-scheme: light dark;
}

.light {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
}

html, body {
  font-family: Roboto, sans-serif;
  color: var(--color-foreground);
  background-color: var(--color-background);
}
