[settings.sops]
rops = false
age_key_file = "~/.config/wes/dev/dev-age-id.key"
age_recipients = "age1yubikey1q2ku8pcyj4vnjs34lfzrw6q54z96anuxj69p3dpeyz9n7aa58733s58w20p"

[env]
SOPS_AGE_KEY_FILE = "~/.config/wes/dev/dev-age-id.key"
'_'.file = [
  { path = "~/.config/wes/dev/wes-env.yaml" },
]

[tasks]
dev = "dx vite dev"
barrel = "./bin/barrel src mod.ts"
book = "deno run --node-modules-dir -A npm:storybook dev -p 6006 --no-open"
story = "deno run --node-modules-dir -A npm:storybook"
