@theme {
  --_brand: #004200;
  --color-brand: var(--_brand);
  --color-brand-0: --lighten(var(--_brand), 75%);
  --color-brand-50: --lighten(var(--_brand), 60%);
  --color-brand-100: --lighten(var(--_brand), 50%);
  --color-brand-200: --lighten(var(--_brand), 40%);
  --color-brand-300: --lighten(var(--_brand), 25%);
  --color-brand-400: --lighten(var(--_brand), 10%);
  --color-brand-500: var(--_brand);
  --color-brand-600: --darken(var(--_brand), 10%);
  --color-brand-700: --darken(var(--_brand), 25%);
  --color-brand-800: --darken(var(--_brand), 40%);
  --color-brand-900: --darken(var(--_brand), 50%);
  --color-brand-1000: --darken(var(--_brand), 60%);

  --color-foreground: light-dark(var(--color-brand-900), var(--color-brand-50));
  --color-foreground-contrast: light-dark(var(--color-brand-50), var(--color-brand-900));

  --color-background: light-dark(var(--color-brand-50), var(--color-brand-900));
  --color-background-contrast: light-dark(var(--color-brand-900), var(--color-brand-50));

  --color-primary: light-dark(var(--color-brand), var(--color-brand-0));
  --color-primary-contrast: light-dark(var(--color-brand-0), var(--color-brand));

  --color-success: light-dark(var(--color-green-800), var(--color-green-300));
  --color-success-contrast: light-dark(var(--color-green-300), var(--color-green-800));

  --color-warning: light-dark(var(--color-yellow-800), var(--color-yellow-300));
  --color-warning-contrast: light-dark(var(--color-yellow-300), var(--color-yellow-800));

  --color-error: light-dark(var(--color-red-800), var(--color-red-300));
  --color-error-contrast: light-dark(var(--color-red-300), var(--color-red-800));

  --color-info: light-dark(var(--color-blue-800), var(--color-blue-300));
  --color-info-contrast: light-dark(var(--color-blue-300), var(--color-blue-800));

  --shadow-color: light-dark(rgba(42, 42, 42, .5), rgba(255, 255, 255, .2));
  --shadow-2xs: .5px .5px 0 var(--shadow-color);
  --shadow-xs: 1px 1px 0 var(--shadow-color);
  --shadow-sm: 2px 2px 0 var(--shadow-color);
  --shadow-md: 4px 4px 0 var(--shadow-color);
  --shadow-lg: 6px 6px 0 var(--shadow-color);
  --shadow-xl: 8px 8px 0 var(--shadow-color);
  --shadow-2xl: 10px 10px 0 var(--shadow-color);
  --shadow-none: 0 0 #0000;
}

@theme {
  --size-0: 0;
  --size-0-5: .125rem;
  --size-1: .25rem;
  --size-2: .5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
}

.test {
  padding: var(--size-\.5) var(--size-1);
}
