.base {
  border-style: var(--tw-border-style);
  border-width: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  cursor: pointer;

  --tw-ring-offset-color: var(--color-white);
  --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);

  transition-property: all;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: var(--tw-duration, var(--default-transition-duration));

  &:focus-visible {
    --tw-ring-offset-width: 2px;
    --tw-ring-color: var(--color-black);
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    --tw-ring-offset-shadow: var(--tw-ring-inset,) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    outline-style: none;
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);

    @media (forced-colors: active) {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }

  }

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 50%;
  }

  &:hover {
    @media (hover: hover) {
      scale: 1.02;
    }
  }

  &:active {
    --tw-translate-x: calc(var(--spacing) * 0.5);
    --tw-translate-y: calc(var(--spacing) * 0.5);
    --tw-shadow: 1px 1px 0 var(--tw-shadow-color, var(--shadow-color));
    translate: var(--tw-translate-x) var(--tw-translate-y);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  & svg {
    flex-shrink: 0;
    pointer-events: none;
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
  }

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
  &.secondary {
    background-color: var(--color-secondary);
    color: var(--color-white);
  }
  &.success {
    background-color: var(--color-success);
    color: var(--color-white);
  }
  &.warning {
    background-color: var(--color-warning);
    color: var(--color-white);
  }
  &.danger {
    background-color: var(--color-danger);
    color: var(--color-white);
  }
  &.info {
    background-color: var(--color-info);
    color: var(--color-white);
  }
  &.border {
    border: 1px solid currentcolor;
  }
}
