# General Flags
--verbosity:0
--hints:off
--experimental:strictFuncs

# --- Standard Performance Flags ---
--opt:speed
--threads:on
--passC:"-flto"
--passL:"-flto"

# --- Conditional Flags ---
@if debug:
  --debugInfo:on
  --lineDir:on
  --stackTrace:on
  --checks:on
  --assertions:on
@else:
  --define:danger
  --define:strip
@end
